<div class="py-5 mt-5 bg-light container-fluid" id="pricing">
  <div class="container mt-5">
      <div class="text-center mb-5">
        <p class="text-blue fw-lg-semibold fs-xs-6">CHOOSE THE PLAN THAT'S RIGHT FOR YOU. SIMPLE PRICING WITH NO SETUP FEES  </p>
          <p class="fs-lg-2 text-blue fw-bold fs-xs-6 mb-0">Sign up now, upgrade anytime. New accounts get a</p>
          <p class="lead text-blue fs-lg-2 fs-xs-4 mb-5 fw-bold">14-day trial of our paid plans</p>
      </div>
      <div class="row justify-content-center mt-5" data-aos="fade-up" data-aos-delay="300">
          <!-- First Card -->
          <div class="col-lg-4 mt-5">
              <div class="card bg-white shadow-sm mx-auto">
                  <div class="card-body">
                      <h3 class="card-title mb-3 fs-2 mt-5 text-blue text-center">Personal</h3>
                      <p class="text-blue fs-6 mx-5 mt-3 text-center">Everything you need for a growing business</p>
                      <hr class="mt-5">
                      <!-- Features List -->
                      <div class="text-center mt-5 fw-semibold ms-5">
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Unlimited file recovery
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Professional reports
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-xmark me-3" style="color: red;"></i> Sell on marketplaces
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-xmark me-3" style="color: red;"></i> 24/7 free support
                          </p>
                      </div>
                      <hr class="my-5">
                      <!-- button -->
                      <div class="text-center">
                          <button class="btn button2 w-50 mb-5">Purchase Now</button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Second Card -->
          <div class="col-lg-4 mt-5">
              <div class="card shadow-sm mx-auto" style="background-color: #132f55;">
                  <div class="card-body">
                      <h3 class="card-title mb-3 fs-2 mt-5 text-white text-center">Professional</h3>
                      <p class="text-white fs-6 mx-5 mt-3 text-center">Everything you need for a growing business</p>
                      <hr class="mt-5 text-white">
                      <!-- Features List -->
                      <div class="text-center mt-5 text-white fw-semibold ms-5">
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Unlimited file recovery
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Professional reports
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Sell on marketplaces
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> 24/7 free support
                          </p>
                      </div>
                      <hr class="my-5 text-white">
                      <!-- button -->
                      <div class="text-center">
                          <button class="btn button1 w-50 mb-5">Purchase Now</button>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Third Card -->
          <div class="col-lg-4 mt-5">
              <div class="card bg-white shadow-sm mx-auto">
                  <div class="card-body">
                      <h3 class="card-title mb-3 fs-2 mt-5 text-blue text-center">Enterprise</h3>
                      <p class="text-blue fs-6 mx-5 mt-3 text-center">Everything you need for a growing business</p>
                      <hr class="mt-5">
                      <!-- Features List -->
                      <div class="text-center mt-5 fw-semibold ms-5">
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Unlimited file recovery
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Professional reports
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-check me-3" style="color: lightgreen;"></i> Sell on marketplaces
                          </p>
                          <p class="d-flex align-items-center mb-3">
                              <i class="fa-solid fa-xmark me-3" style="color: red;"></i> 24/7 free support
                          </p>
                      </div>
                      <hr class="my-5">
                      <!-- button -->
                      <div class="text-center">
                          <button class="btn button2 w-50 mb-5">Purchase Now</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
