<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-sm-10 mt-5">
            <div class="feat-1-text mt-5  me-4 me-md-0">

                <div class="icons-text">
                    <div class="d-flex flex-column ms-5 mt-5 ">
                        <!-- Mission -->
                        <div class="d-flex align-items-center w-100 mb-1 ">
                            <i class="fa-solid fa-bullseye fa-2x ms-3"style="color: #21416f;"></i>
                            <span class="fw-semibold item-text ms-1 fs-5" style="color: #21416f;">{{"about.mission.header"|translate}}</span>
                        </div>
                        <p class=" ms-5 mt-2 item-text text-secondary fs-5">
                            {{"about.mission.desc"|translate}}              
                         </p>
                
                        <!-- Vission -->
                        <div class="d-flex align-items-center w-100 mb-1">
                            <i class="fa-solid fa-eye ms-3 fa-2x mt-3" style="color: #21416f;"></i> 
                            <span class="fw-semibold item-text ms-1 fs-5 mt-3" style="color: #21416f;">{{"about.vission.header"|translate}}</span>
                        </div>
                        <p class=" ms-5 item-text text-secondary fs-5 mt-2">
                            {{"about.vission.desc"|translate}}                    
                            </p>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class=" fature3 col-lg-5 col-sm-10 mt-4" data-aos="fade-up" data-aos-delay="200"> 
            <img [ngSrc]="'../../../assets/images/home/about-us/saas4.png'" alt="egyptian-web-development-company.jpg" width="682" height="592" loading="lazy">
        </div>
    </div>
</div>