<app-navbar></app-navbar>
<div class=" position-relative">
    <!-- part 1 -->
    <div class="bg-img position-relative">
        <img src="../../../assets//images/home/pricing/pricing-creative.jpg" class="w-100" alt="About Us">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white d-flex flex-column align-items-center">
            <p class="h1 fw-bold">Flexible pricing plans</p>
            <p class="fw-semibold fs-5 mt-3 mb-0 text-center text-light"> 
                Sway theme will be provided to all members and those
            </p>
            <p class="fw-semibold fs-5  text-center text-light"> 
                on an intro offer membership at no additional cost.            
            </p>
        </div>
    </div>
    <!-- part2 logos -->
     <app-trusted-by></app-trusted-by>

     <!-- part3 pricing cards -->
    <app-price-card></app-price-card>

      <!-- faq -->
       <app-block-faq></app-block-faq>
       <!-- client review -->
        <app-reviews></app-reviews>

        <!-- payment -->
        <div class="row mt-5">
            <div class="text-center">
                <p class="text-blue fs-1 fw-bold">No credit card needed, Start an amazing project</p>
                <p class="text-blue mt-5 mb-0">
                    When you truly love your family, your assets or your business, you protect them as best
                </p>
                <p class="text-blue mt-0 mb-5">
                    you can. We’re here to provide you with info, and advice anytime, anywhere.
                </p>
                <button class="btn fw-normal button1 mx-auto mb-5" style="width: 12%;" routerLink="/contact-us">Let's talk</button>
                <button class="btn button2 mx-auto ms-3 mb-5" style="width: 12%;">Buy now</button>

            </div>
        </div>
<app-footer></app-footer>      
      
</div>
    