.bg-img{
    font-family: 'bahij';
}
.image-column img {
    border-radius: 0 15px 15px 0; 
    width: 100%; 
    height: auto;
}

#Contact-us {
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    background-color: #fff; 
    position: relative; 
    font-family: 'bahij';
}

.button1 {
    background: white;
    border: 1px solid #d3a00f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #d3a00f;
    cursor: pointer;
    display: inline-block;
    font-family: 'bahij';
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 50%;
}

.button1:hover,
.button1:active {
    background-color: #d3a00f;
    background-position: 0 0;
    color: white;
}

.button1:active {
    opacity: .5;
}
.map-section {
    position: relative;
  }
  
  .map-card {
    top: 120px; 
    left: 180px; 
    width: 380px; 
    height: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding: 20px; 
  }
  
  .fs-custome{
    font-size: 0.9rem;
  }