<div class="container">
    <div class="row ">
        <div class="col-lg-5  col-sm-10 ">
            <div class="  me-5 me-md-0 mt-10">
                <div class="header  ">
                    <p class="fw-bold  ms-5 text-blue">
                        20 ميزة لن تجدها إلا في برنامج إدارة المكاتب الهندسية EOM
                    </p>
                </div>
                <div class="middle ">
                    <p class="ms-5 lh-base mt-4">
                        برنامج EOM من يوجيتك هو الحل الذكي لزيادة كفاءة مكتبك من خلال مميزات كثيرة منها توفير تطبيقات مخصصة لك ولعملائك، ونظاما لإدارة أقسام التصميم الهندسي والإشراف والتقارير، ونظاما لإدارة العملاء والحسابات والموظفين، بجانب بوابة دفع إلكتروني متعددة الوسائل وغيرها من المميزات الأخرى.                    </p>
                </div>

                
            </div>

            <div class="row mt-5">
                <div class="col-6 ">
                    <button class="button2 mt-5 mt-md-1 "> 
                        تجربة مجانية لمدة 14 يوم

                    </button>

                </div>

            </div>
        </div>
        <div class="fature2 col-lg-7 col-sm-10 mt-5"> 
            <iframe 
              width="100%" 
              height="400" 
              src="https://www.youtube.com/embed/K50ZklrgTEQ?si=NcRHagkDjqVVBQPR" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          
        
    </div>
</div>