<app-navbar></app-navbar>
<div class="container-fluid position-relative">
    <!-- part 1 -->
    <div class="bg-img position-relative">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-blue d-flex flex-column align-items-center">
             
           <h1 class=" text-header">
            <strong>
               سياسة الخصوصية
            </strong>

        </h1>    

           <p class=" mt-3 text-center text-paragraph">
              نحن ملتزمون بحماية خصوصيتك وضمان حماية بياناتك الشخصية. تقدم هذه السياسة تفاصيل حول كيفية جمع، استخدام، وحماية معلوماتك عند استخدامك لخدماتنا
               باستخدام موقعنا أو خدماتنا، فإنك توافق على الشروط الموضحة في سياسة الخصوصية هذه.
            </p>
              

            
         </div>
    </div> 

    <!-- content -->
    <div class="container ">
        <div class="row mt-7">
            <!-- Left side: Blog content -->
            <div class="col-md-7 col-11 ms-3 blog-content">
              <div *ngFor="let section of sections">
                <p class="fw-bold text-blue mb-0 fs-5" [attr.id]="section.id">{{ section.title }}</p>
                
                <ng-container *ngIf="section.listItems; else simpleText">
                  <p class="text-muted fs-6 mt-3 fw-semibold">
                    {{ section.content }}
                  </p>
                  <div class="d-flex flex-column ms-1">
                    <div *ngFor="let item of section.listItems; let last = last"
                         class="d-flex align-items-center w-100 mt-2"
                         [ngClass]="{'mb-5': last, 'mb-2': !last}">
                      <i class="fa-solid fa-circle-check me-2" style="color: #132f55;"></i>
                      <span class="fw-semibold me-2">{{ item }}</span>
                    </div>
                  </div>
                </ng-container>
                
                <ng-template #simpleText>
                  <p class="text-muted fs-6 mt-3 fw-semibold mb-5">
                    {{ section.content }}
                  </p>
                </ng-template>
              </div>
            </div>
        
            <!-- Right side:  -->
            <!-- <div class="col-md-3 ms-7 d-none d-md-block">
              <div class="card fixed-right mt-3 mb-5">
                <div class="card-body ms-5">
                  <h5 class="card-title mt-3">Content Headings</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let section of sections" class="mt-3">
                      <a class="text-blue" [routerLink]="[]" [fragment]="section.id">
                        {{ section.title }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
       </div>
</div>

<app-pop-up-offers></app-pop-up-offers>

<app-footer class="mt-5"></app-footer>