<div class=" container-fluid bg mb-0">
    <div class=" row">
        <div class="col-lg-6 col-sm-10">
            <p class="text-white me-custome my-custom  fs-4 fw-bold">
                <!-- {{"home.call-to-action.header"|translate}} -->
                 {{title}}
             </p>
        </div>

        <div class="col-lg-6 col-sm-6  ">
            <button class="button1 my-custom-btn ">
                <!-- {{"home.call-to-action.button"|translate}} -->
                 {{button}}
            </button>

        </div>
       
    </div>
</div>