<section>
  <div class="row mt-5">
      <div class="text-center">
          <h2 class="text-blue">
            <strong>
              هل لديك مشروع جديد في ذهنك؟ 
              <span class="moving-text"></span>
          </strong>
          </h2>

          <h6 class="text-blue mt-5 ">
            {{"services.contactPart.desc1"|translate}}        
          </h6>
          <h6 class="text-blue my-3">
            {{"services.contactPart.desc2"|translate}}      
          </h6>
          <button class="btn button1 mx-auto mb-5 mt-4" routerLink="/contact-us">
            {{"services.contactPart.btn"|translate}}
          </button>
      </div>
  </div>
</section>
