<div class="container mt-5">
    <!-- feature2 -->
    <div class="row ">
        <div class="col-lg-5  col-sm-10 ">
            <div class="  me-5 me-md-0">
                <div class="header">
                    <p class="fw-bold mt-5 ms-5">
                     {{"eom-feature-two.header"|translate}}                    
                    </p>
                </div>
                <div class="middle ">
                    <p class="ms-5 lh-base mt-4">
                        {{"eom-feature-two.desc"|translate}}
                    </p>
                </div>
                <div class="icons-text">
                    <div class="d-flex flex-column ms-5  ">
                        <!--item-1 -->
                        <div class="d-flex align-items-center w-100 mb-2 mt-4">
                          <i class="fa-solid fa-circle-check ms-2" style="color: #d3a00f;"></i>
                          <span class="fw-semibold item-text" style="color: #132f55;">{{"eom-feature-two.item-1"|translate}}</span>
                        </div>
                      
                        <!-- item -2-->
                        <div class="d-flex align-items-center w-100 mb-2 mt-2">
                          <i class="fa-solid fa-circle-check ms-2" style="color: #d3a00f;"></i>
                          <span class="fw-semibold item-text" style="color: #132f55;">{{"eom-feature-two.item-2"|translate}}</span>
                        </div>
                      
                        <!--item-3 -->
                        <div class="d-flex align-items-center w-100 mb-2 mt-2">
                          <i class="fa-solid fa-circle-check ms-2" style="color: #d3a00f;"></i>
                          <span class="fw-semibold item-text" style="color: #132f55;">{{"eom-feature-two.item-3"|translate}}</span>
                        </div>
                      
                        <!-- item-4 -->
                        <div class="d-flex align-items-center w-100 mb-2 mt-2">
                          <i class="fa-solid fa-circle-check ms-2" style="color: #d3a00f;"></i>
                          <span class="fw-semibold item-text" style="color: #132f55;">{{"eom-feature-two.item-4"|translate}}</span>
                        </div>
                      
                         
                        
                    </div>
                </div>
            </div>
        </div>
        <div class=" fature2  col-lg-7 col-sm-10 mt-4" > 
            <img src="../../../../assets/images/home/eom/تطبيق-وموقع-إلكتروني-باسم-مكتبك-الهندسي.png" alt="egyptian-web-development-company.png">
        </div>
        
    </div>
    <!-- ------------------- -->

    <!-- feature3 -->
    <div class="row mt-5">
        <div class="col-lg-6 col-sm-10 mt-5">
            <div class="feat-1-text mt-5  me-4 me-md-0">
                <div class="header mt-3">
                    <p class="fw-bold mt-5 ms-5">
                        {{"eom-feature-three.header"|translate}}
                    </p>
                </div>
                <!-- <div class="middle ">
                    <p class="ms-5 lh-base mt-4">
                        {{"eom-feature-three.desc"|translate}}
                    </p>
                </div> -->
              
                <div class="icons-text">
                    <div class="d-flex flex-column ms-5 mt-5 ">
                        <!-- First Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-1 icon">
                             <img src="../../../assets/images/home/إدارة المشاريع الهندسية.svg" class="mt-1"  >
                            <span class="fw-semibold item-text me-2 custome-text" style="color: #21416f;">{{"eom-feature-three.item-1-header"|translate}}</span>
                        </div>
                        <p class=" ms-5 item-text text-secondary fs-6">
                            {{"eom-feature-three.item-1-desc"|translate}}                       
                         </p>
                
                        <!-- Second Icon and Text -->
                        <div class="d-flex align-items-center w-100 mb-1 icon">
                            <img src="../../../assets/images/home/نظام حسابات مبسط.svg" class="mt-2"  >

                            <span class="fw-semibold item-text me-2  mt-3 custome-text"   style="color: #21416f;">{{"eom-feature-three.item-2-header"|translate}}</span>
                        </div>
                        <p class=" ms-5 item-text text-secondary fs-6">
                            {{"eom-feature-three.item-2-desc"|translate}}                       
                        </p>
                         <!-- third Icon and Text -->
                         <div class="d-flex align-items-center w-100 mb-1 icon">
                            <img src="../../../assets/images/home/نظام إدارة العملاء.svg"  class="mt-2"   >
                            <span class="fw-semibold item-text me-2 custome-text mt-3" style="color: #21416f;">{{"eom-feature-three.item-3-header"|translate}}</span>
                        </div>
                        <p class=" ms-5 item-text text-secondary fs-6">
                            {{"eom-feature-three.item-3-desc"|translate}}                       
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class=" fature3 col-lg-5 col-sm-10 mt-4 feature3" > 
            <img src="../../../../assets/images/home/eom/مميزات-تمنحك-المزيد-من-التحكم.png" alt="egyptian-web-development-company.jpg">
        </div>
    </div>
</div>
