<div class="sidebar">
    <ul class="sidebar-menu list-unstyled">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom"><i class="bi bi-chat mt-5"></i></a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom"><i class="bi bi-life-preserver mt-5"></i></a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom"><i class="bi bi-file-earmark-text mt-5"></i></a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom"><i class="bi bi-camera-video mt-5"></i></a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom"><i class="bi bi-heart mt-5"></i></a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom"><i class="bi bi-people mt-5"></i></a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link btn btn-link border-0 border-bottom" style="color: green;"><i class="bi bi-cart mt-5"></i></a>
      </li>
    </ul>
  </div>
  