.button2 {
    background: white;
    border: 1px solid #d3a00f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #d3a00f;
    cursor: pointer;
    display: inline-block;
    font-family: 'bahij';
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
    height: 7vh;
  }
  
  .button2:hover,
  .button2:active {
    background-color: #d3a00f;
    background-position: 0 0;
    color: white;
  }
  
  .button2:active {
    opacity: .5;
  }
  .ms-8{
    margin-left: 9rem;
  }
  .card {
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
  }

  .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }

  /* Slider container */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto; 
  max-width: 2000px; 
  padding: 0 50px; 
}

/* Slider track */
.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

/* Each slide */
.slide {
  /* flex: 0 0 calc(33.33% - 20px);  */
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

/* Style for the card to be a square */
.card {
  width: 100%;
}

/* Arrow controls */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  /* background-color:#bbb; */
  color: #d3a00f;
  border: 1px;
  border-radius: 5px;
  border-color: #d3a00f;
  font-size: 20px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Pagination dots */
.pagination-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #21416f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

/* Mobile view: Show only 1 slide */
@media (max-width: 768px) {
  .slide {
    flex: 0 0 100%; /* Set the slide to take 100% width on mobile */
  }

  /* Adjust arrow size for mobile */
  .arrow {
    font-size: 16px;
    padding: 5px;
  }
}
